.main-layout {
  display: flex;
  height: 100vh;
}

app-navbar {
  width: 200px;
  flex-shrink: 0;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

app-topbar {
  width: 100%;
  height: 64px;
}

.main-router {
  flex: 1;
  overflow: auto;
  padding: 0 2rem;
}
