/* Footer del sidebar */
.sidebar-footer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 1rem;
	margin-top: auto;
  border-top: 1px solid var(--border-color);
}

.sidebar-btn {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 10px 8px;
	border: none;
	border-radius: 8px;
	background: var(--color-secondary);
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
	transition: background 0.2s;
}

.sidebar-btn:hover {
	background: var(--color-primary);
}

.logout-btn {
	background: var(--color-error);
}
.logout-btn:hover {
	background: #c0392b;
}
.support-btn {
	background: var(--color-secondary);
}
.support-btn:hover {
	background: #159c86;
}
/* Sidebar base */
.sidebar {
	height: 100vh;
	width: 200px;
	background: var(--bg-sidebar);
	color: var(--text-primary);
	display: flex;
	flex-direction: column;
	z-index: 1000;
	transition: width 0.2s;
  box-shadow: var(--shadow-md);
  border: 1px solid var(--border-color);
}
.sidebar-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}
.logo {
	font-weight: bold;
	font-size: 1.3rem;
}
.sidebar-toggle {
	background: none;
	border: none;
	color: var(--text-primary);
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}
.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	flex: 1;
	display: flex;
	flex-direction: column;
}
.sidebar ul li {
	width: 100%;
  margin-top: 5px;
}
.sidebar ul li a {
  margin : 0 10px;
  display: block;
	padding: 14px 10px;
	color: var(--text-primary);
	text-decoration: none;
  border-radius: 8px;
}
.sidebar ul li a.active,
.sidebar ul li a:hover {
  background: var(--primary);
}

.item{
  display: flex;
  gap: 10px;
}


/* Responsive: Tablet y móvil */
@media (max-width: 900px) {
	.sidebar {
		width: 60px;
	}

	.sidebar ul.open {
		display: flex;
		position: absolute;
		top: 50px;
		left: 0px;
		background: var(--bg-sidebar);
		width: 160px;
		height: calc(100vh - 50px);
		flex-direction: column;
		box-shadow: 2px 0 8px rgba(0,0,0,0.1);
	}
	.sidebar-toggle {
		display: block;
	}
	.logo {
		font-size: 1rem;
	}

  .sidebar ul li a span{
    display: none;
  }

  .sidebar .sidebar-footer button span{
    display: none;
  }
}
@media (max-width: 600px) {
	.sidebar {
		width: 100vw;
		height: 60px;
		flex-direction: row;
		align-items: center;
	}
	.sidebar-header {
		width: 100vw;
		padding: 0.5rem 1rem;
	}
	.sidebar ul {
		position: absolute;
		top: 60px;
		left: 0;
		width: 100vw;
		background: var(--bg-sidebar);
		display: none;
	}
	.sidebar ul.open {
		display: flex;
		flex-direction: column;
	}

  .sidebar ul li a span{
    display: block;
  }
}
